.home-main__wrapper {
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  height: 100%;

  .heading-container {
    padding: 0 2em;
    .title {
      padding: 1em 0 0.5em;
    }
  }
}
